button{
    border: none;
    outline: none;
  
   
}

mat-dialog-actions{
    display: flex;
    align-items: center;
   
    margin: 10px 20px 10px 20px;
}

mat-dialog-content{
    display: flex;
    flex-direction: column;
   
    justify-content: space-between;
}
p{
    display: flex;
    align-items: flex-start;
    max-width: 500px;
}