<div id="templatemo_container">
  <div id="templatemo_menu">
    <ul style="display: flex; flex-direction: row; justify-content: space-around;">
      <li><a href="index.html" class="current">Home</a></li>


      <li><a routerLink="/addpage">Add new book</a></li>

    </ul>
  </div> <!-- end of menu -->

  <div id="templatemo_header">
    <div id="templatemo_special_offers">
      <p>
        <cite> “Books are a uniquely portable magic.”</cite>
        <br>
        ― Stephen King
      </p>

    </div>


    <div id="templatemo_new_books">
      <p>

        <cite>“A reader lives a thousand lives before he dies, said Jojen. The man who never reads lives only
          one.”</cite>
        <br>
        ― George R.R. Martin
      </p>

    </div>
  </div> <!-- end of header -->

  <div id="templatemo_content">

    <div id="templatemo_content_left">
      <div class="templatemo_content_left_section">
       
        <div class="slider-frame">
          <div class="slide-images">
            <div class="img-container">
              <img src="https://pictures.abebooks.com/inventory/30893415047.jpg" style="height: 550px; width: 150px;" alt="">
            </div>
            <div class="img-container">
              <img src="https://torange.biz/photo/34/IMAGE/book-books-wisdom-34907.jpg" style="height: 550px; width: 150px;" alt="">
            </div>
            <div class="img-container">
              <img src="https://wallpapercave.com/wp/wp4426472.jpg" style="height: 550px; width: 150px;" alt="">
            </div>
          </div>
        </div>
<div>
  <br>
  <h4 style="text-align: center;">Follow us on:</h4>
  <a href="#" class="fa fa-facebook"></a>
  <a href="#" class="fa fa-twitter"></a>

<a href="#" class="fa fa-linkedin"></a>
<a href="#" class="fa fa-youtube"></a>
<a href="#" class="fa fa-instagram"></a>
</div>


      </div>


    </div> <!-- end of content left -->

    <router-outlet>
     
    </router-outlet>


   


    <div class="cleaner_with_height">&nbsp;</div>
  </div> <!-- end of content -->

  <div id="templatemo_footer">

    <a href="subpage.html">Home</a> | <a href="subpage.html">Search</a> | <a href="subpage.html">Books</a> | <a
      href="#">New Releases</a> | <a href="#">FAQs</a> | <a href="#">Contact Us</a><br />
    Copyright © 2024 <a href="#"><strong>Book Store</strong></a>
  </div>
  <!-- end of footer -->

</div> <!-- end of container -->
