@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: Verdana, Arial, san-serif;
	font-size: 11px;
	color: #ffffff;
	background: #4b4743;
}

a:link, a:visited { text-decoration: none; } 
a:active, a:hover {  text-decoration: none;}

p {
	margin: 0px;
	padding: 0px;
}

img {
	margin: 0px;
	padding: 0px;
	border: none;
}


.cleaner {
	clear: both;
	width: 100%;
	height: 1px;
	font-size: 1px;	
}

.cleaner_with_height {
	clear: both;
	width: 100%;
	height: 30px;
	font-size: 1px;	
}

.cleaner_with_width {
	float: left;
	width: 20px;
	height: 30px;
	font-size: 1px;	
}

.buy_now_button a{
	clear: both;
	text-align: center;
	display: block;
	width: 100px;
	padding: 4px 0 5px 0;
	margin-bottom: 10px; 
	background: url('templatemo_btn_02.jpg') no-repeat;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}

.detail_button a{
	clear: both;
	text-align: center;
	display: block;
	width: 100px;
	padding: 4px 0 5px 0;
	margin-bottom: 10px; 
	background: url('templatemo_btn_01.jpg') no-repeat;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}

#templatemo_container{
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
	background: #1c1c1b url("templatemo_bg.jpg") repeat-y; 
}


/* menu */

#templatemo_menu {
	clear: both;
	width: 960px;
	height: 45px;
	background: url("templatemo_menu_bg.jpg") no-repeat;
}

#templatemo_menu ul {
	padding: 13px 0 0 0;
	margin: 0;
	list-style: none;
}

#templatemo_menu ul li{
	display: inline;
}

#templatemo_menu ul li a{
	float: left;
	padding: 0 20px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #969547;
}

#templatemo_menu li a:hover, #templatemo_menu li .current{
	color: #fcf88e;
}

/* end of menu*/

/* header */
#templatemo_header {
	clear: both;
	height: 285px;
	padding: 0;
	margin: 0;
	background: url("templatemo_header_bg.jpg") no-repeat;
}

#templatemo_header a,a:hover {
	color: #ffffff;
}

#templatemo_header #templatemo_special_offers {
	float: left;
	font-size: 11px;	
	margin-top: 85px;
	margin-left: 490px;
	width: 180px;
}

#templatemo_special_offers a {
	font-size: 12px;
}

#templatemo_special_offers  p {
	margin: 0 0 20px 0;
}
#templatemo_special_offers p span {
	font-size: 18px;
}

#templatemo_header #templatemo_new_books {
	float: left;
	margin-top: 75px;	
	margin-left: 55px;
	width: 180px;
}

#templatemo_new_books ul {
	 margin: 0 0 10px 0;
	 padding: 0 0 0 20px;
}

#templatemo_new_books li {
	 margin: 0;
	 padding: 0; 
}


/* end of header */


/* content */
#templatemo_content {
	clear: both;
	width: 960px;
	padding: 0 20px;
	height: 1000px;
}

#templatemo_content #templatemo_content_left {
    float: left;
    width: 170px;
    padding: 10px;
    background-color: #171716;
    border: 1px solid #B5B442;
    margin-top: 1.3%;
}

#templatemo_content #templatemo_content_right {
	float: right;
	width: 670px;
}


#templatemo_content_left .templatemo_content_left_section{
	clear: both;

}

.templatemo_content_left_section h1 {
	font-size: 14px;
	color: #cbc750;
	padding: 0 0 5px 0;
	margin: 0 0 10px 0;
	border-bottom: 1px dotted #cbc750;
}

.templatemo_content_left_section ul {
	padding: 0;
	margin: 0;
}

.templatemo_content_left_section ul li{
	padding: 0 0 3px 10px;	
	list-style: none;
}

.templatemo_content_left_section ul li a{
	font-weight: normal;
	text-decoration: none;
	color: #969547;
}

.templatemo_content_left_section li a:hover, .templatemo_content_left_section li .current{
	color: #fcf88e;
}


.booklist
{
   
    border: 1px solid #BBBA51;
    width: 45%;
    height: 50%;
}


#templatemo_content_right .templatemo_product_box {


	padding: 10px;
    
    display: flex;
    flex-wrap: wrap;
	
}

#templatemo_content_right h1 {
	padding: 10px;
	margin: 0 0 20px 0;
	font-size: 15px;
	color: #cbc750;
	background: url("templatemo_h1_bg.jpg"); 
}

#templatemo_content_right h2 {
	padding: 0 0 0 0;
	margin: 0 0 20px 0;
	font-size: 12px;
	color: #e6e154;
}

#templatemo_content_right h3 {
	padding: 0;
	margin: 0 0 20px 0;
	font-size: 18px;
	color: #85391f;
}

#templatemo_content_right ul {
	margin: 0 0 20px 0;
	padding: 0 0 0 20px;
	list-style: none;
}

#templatemo_content_right li {
	padding: 0 0 3px 0;
}

#templatemo_content_right .image_panel {
	float: left;
	width: 100px;
	margin-right: 20px;
}

#templatemo_content_right p {
	text-align: justify;
	padding: 0 0 8px 0;
}

.templatemo_product_box h1 span {
	font-weight: normal;
}

.templatemo_product_box img {
    width: 125px;
    height: 175px;
}

.templatemo_product_box .product_info {
    display: inline-block;
    margin-left: 10%;
}

.product_info p {
	margin-bottom: 15px;
}

/* end of content */

/* footer */
#templatemo_footer {
	clear: both;
	width: 960px;
	padding: 20px 0px 20px 0;
	text-align: center;
	border-top: 1px solid #25211e;
	color: #999;
	background-color: #111110;
}

#templatemo_footer a{
	color: #fff;
	font-weight: normal;
}
/* end of footer */


.error-block
{
	color: red;
}

main.bookdetails {
    height: 600px;
}

.bookimage {
    width: 50%;
}

.slider-frame
{
	overflow: hidden;
	height: 500px;
	width: 150px;
}

@keyframes slide_animation
{
	0% {left:0px;}
	10% {left:0px;}
	20% {left:150px;}
	30% {left:150px;}
	40% {left:300px;}
	50% {left:300px;}
	60% {left:150px;}
	70% {left:150px;}
	80% {left:0px;}
	90% {left:0px;}
	100% {left:0px;}
}

.slide-images{
	width: 450px;
	height: 550px;
	margin: 0 0 0 -300px;
	position: relative;
	animation-name: slide_animation;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-direction:alternate;
	animation-play-state: running;

}

.img-container
{
	height: 550px;
	width: 150px;
	position: relative;
	float: left;
}

.searching {
    
    display: inline-block;
    margin-left: 53.5%;
}

.add {
    display: inline-block;
    margin-left: 30%;
    margin-top: 1.5%;
}

main.bookdetails {
    height: 515px;
    margin-top: 5%;
}

.header {
    display: flex;
    justify-content: center;
}

form.ng-untouched.ng-pristine.ng-invalid {
    background-color: #583B19;
    height: 515px;
}

input
{
	background-color: #FCF88E;
	
    border-radius: 9999em;
    padding: 3px;

	
	
}


button {

	
		clear: both;
		text-align: center;
		display: block;
		width: 100px;
		padding: 4px 0 5px 0;
		margin-bottom: 10px;
		background: url(templatemo_btn_01.jpg) no-repeat;
		color: #ffffff;
		font-weight: bold;
		text-decoration: none;
		border-radius: 9999em;
}

.fa {
	
	
	width: -webkit-fill-available;
	text-align: center;
	text-decoration: none;

	
  }
  .fa-facebook {
	background: #3B5998;
	color: white;
	margin: 5px 2px;
	padding: 20px;
	font-size: 30px;
  }  

  .fa-twitter {
	background: #55ACEE;
	color: white;
	margin: 5px 2px;
	padding: 20px;
	font-size: 30px;
  }
  

  
  .fa-linkedin {
	background: #007bb5;
	color: white;
	margin: 5px 2px;
	padding: 20px;
	font-size: 30px;
  }
  
  .fa-youtube {
	background: #bb0000;
	color: white;
	margin: 5px 2px;
	padding: 20px;
	font-size: 30px;
  }
  
  .fa-instagram {
	background: #125688;
	color: white;
	margin: 5px 2px;
	padding: 20px;
	font-size: 30px;
  }

  .fa:hover {
    opacity: 0.7;
}


